{% extends 'base.html' %}

{% block nuovo %}
{%with messages = get_flashed_messages() %}
{%if messages%}
    {%for msg in messages%}
        <p class="text-center">{{msg}}</p>
    {%endfor%}
{%endif%}
{%endwith%}
<h2 class = "text-center">Inserisci nuovo membro</h2>
<form class = "myform" action="{{ url_for('new_member') }}" method="post">
    <div class="form-group">
        <label>Nome</label>
        <input type="text" class="form-control" placeholder="inserire nome" name = "nome" required>
    </div>
    <div class="form-group">
        <label>Cognome</label>
        <input type="text" class="form-control" placeholder="inserire cognome" name = "cognome" required>
    </div>
    <div class="form-group">
        <label>Codice Fiscale</label>
        <input type="text" class="form-control" placeholder="inserire codice fiscle" name = "cf" required size="16">
    </div>

    <div class="form-check">
        <input class="form-check-input" type="radio" name = "sesso" value="M">
        <label class="form-check-label">
            Maschio
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name = "sesso" value="F">
        <label class="form-check-label">
            Femmina
        </label>
    </div>

    <div class="form-group">
        <label>Data Nascita</label>
        <input type="date" class="form-control" name = "data" required>
    </div>

    <div class="form-group">
        <label>Peso</label>
        <input type="number" class="form-control" placeholder="inserire peso" name = "peso" value = "60">
    </div>

    <div class="form-group">
        <label>Altezza in CM</label>
        <input type="number" class="form-control" placeholder="inserire altezza in CM" name = "altezza" value = "150">
    </div>
    <div class="form-group">
        <label>Telefono</label>
        <input type="tel" class="form-control" placeholder="inserire telefono" name = "tel" required>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" placeholder="inserire email" name = "email" required>
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" placeholder="inserire password" name = "password" required>
    </div>
    <div class="form-group">
        <label>Ruolo</label>
        <input type="text" class="form-control" placeholder="inserire ruolo" name = "ruolo" required>
    </div>
    <div class="form-group">
        <label>Specializzazione</label>
        <input type="text" class="form-control" placeholder="inserire specializzazione" name = "specializzazione" required>
    </div>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <button type="submit" class="btn ">Registralo</button>
            </div>
        </div>
    </div>
</form>
{%endblock%}